<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
<h1>Team Name <%=params[:name]%></h1>
 Coach: <%=params[:coach]%>
 PointGuard:<%=params[:pg]%>
 Shooting Guard:<%=params[:sg]%>
 Power forward:<%=params[:pf]%>
 Small forward:<%=params[:sf]%>
 Center: <%=params[:c] %>
 </body>
</html>
